<div class="d-flex justify-content pb-8 pt-8" >
	<img src="Imgs/logo.png" alt="Inova Finanças " width="80" />
</div>

<MudNavMenu>
	<MudNavLink Href="/" Match="NavLinkMatch.All">Dashborad</MudNavLink>
	<MudNavLink Href="/lancamentos/historico" >Histórico</MudNavLink>
	<MudNavLink Href="/categorias" >Categorias</MudNavLink>
	<MudNavLink Href="/premium" >Premium</MudNavLink>
	<MudNavLink Href="/sair" >Sair</MudNavLink>
</MudNavMenu>