@page "/sair"
@inherits LogoutPage
@layout HeadlessLayout

<PageTitle> Inova Financas - Sair</PageTitle>
<MudText Typo="Typo.h3">Finalizando sessão... </MudText>
<MudPaper Class="pa-8 mt-4">
	<div class="d-flex justify-center pb-8 pt-8">
		<img src="imgs/inova.png" alt="Inova Financas - Controle Financeiro" width="200" />
	</div>
	<MudAlert Severity="Severity.Info">
		<div>
			Sessão Finalizada !!!
			<MudButton Variant="Variant.Text" Href="/login">
				Ir para a tela de Login
			</MudButton>
		</div>
	</MudAlert>


</MudPaper>